*
!.gitignore
!.flake8
!.pre-commit-config.yaml
!hacs.json
!LICENSE
!pyproject.toml
!README.md
!custom_components/
!custom_components/cryptoinfo_advanced/*
!custom_components/cryptoinfo_advanced/**/*
!custom_components/*
.DS_Store
__pycache__
